jsonnet
torch
transformers
accelerate
sentencepiece
protobuf
nltk
scipy
openai
diskcache
typing_extensions
spacy
rapidfuzz
datasets
pandas
requests
tqdm
ftfy
ujson
fastapi
uvicorn[standard]
elasticsearch==7.9.1
dill
base58
pygments
beautifulsoup4
blingfire
wget
black
ruff
jsonlines
pyparsing
GPutil
scikit-learn
google-genai
python-dotenv
diskcache